<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirebaseScreenReportingEnabled</key>
	<false/>
	<key>CLIENT_ID</key>
	<string>463785196719-74f1sas7du851nsbmljcg61p96arkrkt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.463785196719-74f1sas7du851nsbmljcg61p96arkrkt</string>
	<key>API_KEY</key>
	<string>AIzaSyAhjJxbxZNoYcZ371OP-ohOB19x4IKwp-U</string>
	<key>GCM_SENDER_ID</key>
	<string>463785196719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seanwilliams.RentSpace</string>
	<key>PROJECT_ID</key>
	<string>rentspace-95443</string>
	<key>STORAGE_BUCKET</key>
	<string>rentspace-95443.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:463785196719:ios:904c47207c957e7faaa85a</string>
	<key>DATABASE_URL</key>
	<string>https://rentspace-95443.firebaseio.com</string>
</dict>
</plist>
